# Server configurations
PORT=5000
MONGODB_URI=mongodb://localhost:27017/quizarena
JWT_SECRET=quizarena_super_secret_jwt_key_987654321

# Client configurations (for references in backend e.g. CORS)
CLIENT_URL=http://localhost:5173

# Optional configuration keys (if provided, otherwise local mocks will run)
# AI_API_KEY=your_gemini_or_openai_api_key
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret
